:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-image: url(./assets/img/background-image4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}





